
#header {
	background-color: #949595;
	height: 7rem;
	margin:none;
	display: block;
}

#header ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: black;
    margin-top: -2.5rem;
    padding-right: 16rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
        
}

#header li {
    float: right;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

#header li a:hover {
    background-color: #949595;
}

#header form {
	text-align: right;
	display: block;
	margin-top: -2.7rem;
	margin-right: 1rem;
}

#header img {
	width:6rem;
	margin-left: 4rem;
	display: block;
}

h1 {
	font-size:3rem;
	text-align: left;
	margin-left: 5rem;
}


#imgdefond img {
	height:40rem;
	width: 100%;
	margin:auto;
	display: block;
}


body{
	font-size:1rem;
	background-color: #949595;
	margin:1rem;
	padding-bottom: 7rem;

}

#texte a{
	font-size:1.20rem;
	display: block;
	margin: 2rem;


}

#tricks img {
	width: 13rem;
	margin-left: 4.1rem;
	margin-right: 4.1rem;
	text-align: center;


}

#tricks a {
	display: block;
	width:15rem;
	text-align:center;
	margin:auto;
}

.bloc {
	display: inline-block;
  	vertical-align: middle;
  	text-align: center;
  	
}


.trait {
	position: absolute;
	margin-left: 46rem;
	height: 26rem;
	width : 4px;
	background: black;
	margin-top: -28rem;
    }

.inscription {
	padding-left: 53rem;
	margin-top:-34rem;
}

.inscription input{
	margin: 1rem;
	width: 13rem;
}

.footer {
    position:  fixed;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    left: 0;
    bottom: 0;
}

#headertel{
	display:none;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!  Medias queries  !!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Tablettes*/
@media (max-width: 1024px) and (min-width:600px) {

	*{
		overflow-x:hidden; /*fonctionne pas sur simulateur de résolution */
	}

	body {
		background-color: #949595; /*je change la couleur pour voir la différence quand je change de résolution */
		

	}

	#header img {
		width:6rem;
		padding: 0rem;
		display: block;
	}

	#header ul {
	    padding-right: 30rem;	   
	}

	#header form {
		margin-right: 12rem;
	}

	#map {
		width: 49%;
	}

	.trait{
		margin-left: 53%;
	}

	.inscription {
		padding-left: 58%;
		margin-top:-56%;
	}

	#tricks img {
		width: 35%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: center;
	}

	.inscription input{
		margin: 1rem;
		width: 100%;
	}

	.bloc {
		width: 49%;
	}

}

/* mobiles*/
@media (max-width: 500px) {

	*{
		overflow-x:hidden; /*fonctionne pas sur simulateur de résolution */
		overflow-y: auto;
	} 

	body {
		background-color: #949595; /*je change la couleur pour voir la différence quand je change de résolution */
		font-size:1rem;
		

	}

	#header {
		background-color: #949595;
		height: 9rem;
		margin:none;
		display: block;
	}

	#imgdefond img {
		height: 15rem;
		width: 100%;
		margin:auto;
		display: block;
	}

	h1 {
	font-size:1.4rem;
	text-align: left;
	margin-left: 1rem;

	}

	.trait
    {
	   display:none;
    }

	.inscription {
		padding-left: 0rem;
		margin-top:0rem;
	}

	.inscription input{
	margin: 1rem;
	width: 100%;
	}

	.footer {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
	}

	#header{
		display: none;
	}

	#headertel{
		position: left;
		display: block;
	}

	#headertel img {
		width:4rem;
		float:left;
		margin-right: 1.2rem;
		margin-left: 1.2rem;
	}



@viewport {
  width: 8%;
}
