


#p1 {
	background-color: blue;

}

#p2 {
	background-color: white;

}

#p3 {
	background-color: red;

}

#logoiut {
  width: 300px;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

h1{
	font-size:1.56rem;

}

body{
	font-size:1rem;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!  Medias queries  !!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Pc */
@media only screen and (min-width : 1224px){

	#p1 {
		background-color: green;/*je change la couleur pour voir la différence quand je change de résolution*/

	}

}


/*Tablettes + mobiles*/
@media (max-width: 768px) {

	#p1 {
		background-color: yellow;
	}
	*{
		overflow:hidden; /*fonctionne pas sur simulateur de résolution */
	} 
}

/* petit Smartphones  */
@media (max-width: 321px) {

	*{
		overflow:hidden; /*fonctionne pas sur simulateur de résolution */
	}

}

/* Unité dppx implicite */
@media (-webkit-min-device-pixel-ratio: 2) { 

	#logoiut {
  	width: 150px;
  
}

}

@viewport {
  width: 8%;
}




