
#p1 {
	background-color: blue;

}

#p2 {
	background-color: white;

}

#p3 {
	background-color: red;

}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!  Medias queries  !!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Pc */
@media only screen and (min-width : 1224px){


}

/*Tablettes*/
@media (max-width: 768px) {
overflow-y: hidden;
	
background-color: yellow;

	

}

/*Smartphones */
@media (max-width: 321px) {
background-color: yellow;
}






